:root {
  --bg: rgb(181, 174, 174);
  --standard-margins: 2px;
  --size-1: 20px;
  --size-2: 40px;
  --speed: 400ms;
  --translate-distance: 100px;
  
}

body {
  background-color: rgb(2, 1, 19);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.topbar-container {
  width: 100%;
  height: 80px;
  margin: var(--standard-margins);
  background-color: var(--bg);
  
}

.navbar-container {
  width: 100%;
  height: 40px;
  margin: var(--standard-margins);
  background-color: var(--bg);
  display: flex;
  
}

.nav-link {
width: var(--size-1);
height: var(--size-1);
display: flex;
margin: auto;
align-items: center;
transition: all  50ms ease;


}
.nav-link:hover {
  width: var(--size-1);
  height: var(--size-1);
  display: flex;
  margin: auto;
  align-items: center;
  transform: scale(1.03);
  color: rgb(45, 44, 44)
  
  
  }

.drop-down-menu {
  width: 100%;
  height:auto;
  margin: var(--standard-margins);
  background-color: var(--bg);
  filter: brightness(1.4);
 
 display:flex;
opacity: 0;
  transition: all 300ms ease;
  flex-wrap: wrap;

  flex-direction: column;
  
}


.menu-items {
  width: 100%;
  height:calc(var(--size-1) *1.5);
  background-color: var(--bg);
  opacity: inherit;
 transition: all 300ms ease;
  margin: var(--standard-margins);
  display: flex;
  justify-content: center;
  font-size: small;
  user-select: none;
  
 
}
.menu-items:hover {
  width: 100%;
  height:calc(var(--size-1) *1.5);
 
  opacity: inherit;
  color: black;
  margin: var(--standard-margins);
  display: flex;
  filter: brightness(1.5);
  justify-content: center;
  font-size: small;
  user-select: none;
  
  transform: translateX(10px) scale(1.15) ;
  background: linear-gradient(to right, rgb(180, 174, 55), rgb(151, 184, 34))

}
h4 {
  user-select: none;
}




.large-image-container {
  
  width: 50%;
  height: 500px;
  background-color: white;
  margin: var(--standard-margins);
}
