:root {
  --bg: rgb(195, 195, 195);
  --accent-color-one:  rgb(215, 212, 230);
  --accent-color-two: rgb(84, 87, 160);
  --standard-margins: 1.5px;
  --size-1: 20px;
  --size-2: 40px;
  --speed: 400ms;
  --translate-distance: 100px;
  --drop-down-z: 3;
  --ui-z: 1;
  --border-rad: 50px;
  
}

body {
  background-color: rgb(50, 50, 50);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.topbar-container {
  width: 100%;
  height: 80px;
  margin: var(--standard-margins);
  background-color: var(--bg);
  
}

.navbar-container {
  width: 100%;
  height: 40px;
  margin: var(--standard-margins);
  background-color: var(--bg);
  display: flex;
  
}

.nav-link {
width: var(--size-1);
height: var(--size-1);
display: flex;
margin: auto;
align-items: center;
transition: all  50ms ease;


}
.nav-link:hover {
  width: var(--size-1);
  height: var(--size-1);
  display: flex;
  margin: auto;
  align-items: center;
  transform: scale(1.03);
 
  
  
  }

.drop-down-menu {
  width: 100%;
  height:auto;
  margin: var(--standard-margins);
  background-color: var(--bg);
  filter: brightness(.9);
 
 display:flex;
opacity: 0;
  transition: all 300ms ease;
  flex-wrap: wrap;

  flex-direction: column;
  position: absolute;
  z-index: var(--drop-down-z);
  
}


.menu-items {
  width: 100%;
  height:calc(var(--size-1) *1.5);
  background-color: var(--bg);
  opacity: inherit;
 transition: all 300ms ease;
  margin: var(--standard-margins);
  display: flex;
  justify-content: center;
  font-size: small;
  user-select: none;
  
 
}
.menu-items:hover {
  width: 100%;
  height:calc(var(--size-1) *1.5);
 
  opacity: inherit;
  color: black;
  margin: var(--standard-margins);
  display: flex;
  filter: brightness(1.5);
  justify-content: center;
  font-size: small;
  user-select: none;
  
  transform: translateX(10px) scale(1.15) ;
  background: linear-gradient( to right, var(--accent-color-one),  var(--accent-color-two))

}
h4 {
  user-select: none;
}


/* image and button changes ================================================================================= */

.large-image-container {
  
  width: 50%;
  height: 500px;
  background-color: var(--bg);

  z-index: var(--ui-z);
  display: flex;
margin: auto;
  background-repeat:no-repeat ;

background-size: cover;
margin: var(--standard-margins)
 
}

.large-button-container {
  width: 250px;
  height: 50px;
  border-radius: var(--border-rad) ;
  background-color: var(--bg);
  margin: var(--standard-margins);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0 1.5px black;
  transition: all 300ms ease;
  /* position: absolute;
 z-index: var(--ui-z);
  top: 20%; */

 
}

.large-button-div {
  width: 240px;
  height: 40px;
  border-radius: var(--border-rad) ;
  background-color: var(--bg);

  
  margin: var(--standard-margins);
  border-style: solid ;
  padding: -5px;
  
}

.large-button-div:hover {
  width: 240px;
  height: 40px;
  border-radius: var(--border-rad) ;
  background-color: var(--accent-color-two);
  filter: brightness(1.1);
  
  margin: var(--standard-margins);
  border-style: solid ;
  padding: -5px;
  
}

.large-button-container:hover {
  width: 250px;
  height: 50px;
  border-radius: var(--border-rad) ;
  background-color: var(--accent-color-one);
  margin: var(--standard-margins);
  display: flex;
  align-items: center;
  justify-content: center;
  filter: brightness(1.2);

 
}

.small-image-container {
  width: 25%;
  height: 210px;
  background-color: var(--bg);
  margin: var(--standard-margins);
}


.small-button-container {
  width: var(--size-2);
  height: calc(var(--size-1) * 1.22);
  border-radius: var(--border-rad) ;
  background-color: var(--bg);
  margin: var(--standard-margins);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms ease;

 
}

.small-button-div {
  width: calc(var(--size-2) *.9);
  height: calc(var(--size-1) *.9);
  border-radius: var(--border-rad) ;
  background-color: var(--bg);

  
  margin: var(--standard-margins);
  border-style: solid ;
  padding: -5px;
  
}


.small-button-container:hover {
  width: var(--size-2);
  height: calc(var(--size-1) * 1.22);
  border-radius: var(--border-rad) ;
  background-color: rgb(219, 153, 11);
  margin: var(--standard-margins);
  display: flex;
  align-items: center;
  justify-content: center;
  filter: brightness(1.2);

 
}

/* feature bar and other features... */

.feature-bar-container {

  width: 100%;
  height: 100px;
  background-color: var(--bg);
 margin: var(--standard-margins);

}

/* containers!! */
.content-container-1 {
  display: flex;
}

.button-container-1 {
  position: absolute;
  top: 60%;
  right: 50%;
  z-index: var(--ui-z);
  margin: var(--size-2);
}
.button-container-2 {
  position: absolute;
  top: 60%;
  left: 50%;
  margin: var(--size-2);
  z-index: var(--ui-z);
}

.content-container-2 {
  display: flex;
}